<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      table, th, td {
        border: 1px solid black;
      }
      </style>
    <title>Finance Vision-Dashboard</title>
  </head>
  <body>
    <h1> About Finance vision -Dashboard </h1>
    <table style="width:100%">
      {% for x in range(0,len(temp)) %}  
        {% if x ==0 %}
        <tr>
          {% for y in range(0,len(temp[x]) %}
            row_val = temp[x]
            {% if y != ""%}
              <th>​{{row_val[y]}}</th>
            {% endif %}
          {% endfor %}
        </tr>
        {% endif %}        
    ​{% endfor %}
    </table>
    
  </body>
</html>